:root {
    --line-height: 1.5;
    --color-text: #333;
    --font-family: 'Fira Sans', system-ui;

    --spacing-unit: calc(var(--line-height) * 1rem);
    --spacing-unit-xs: calc(.25 * var(--spacing-unit));
    --spacing-unit-s: calc(.5 * var(--spacing-unit));
    --spacing-unit-l: calc(1.5 * var(--spacing-unit));
    --spacing-unit-xl: calc(2 * var(--spacing-unit));

    --border-radius: 5px;
    --max-width: 35rem;
    --border: 2px solid;

    --input-padding: var(--spacing-unit-xs) calc(1/3 * var(--spacing-unit));

    --font-weight-bold: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* For development only */
    /*outline: 1px solid rgb(255, 0, 0, .1);*/
}

html {
    font-size: 125%;
}

body {
    line-height: var(--line-height);
    color: var(--color-text);
    font-family: var(--font-family);
}
